/*
1. selector por etiqueta: cambia el estilo a todas las etiquetas en cuestion, se coloca directamente el nombre 
de la etiqueta
2.selector por clase: cambia omodifica el estilo del elemento en donde se mencione la clase en el atributo
class para crear un estilo por clase se coloca .nombreEstilo
3. selector por identificador por el id, modifica el estilo del elemento que posea el id
4. selector universal *
*/
/*************************************************************************************************************/

/*1. por etiqueta*/
p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 24px;
background-color: rgb(48, 47, 47);
color: aliceblue;
}
/*
2. selector por clase o class
*/
.subtitulo{
    text-align: center;
    color: blue;
    background-color: rgb(19, 145, 255);
}
/*
3.selector por ID
*/
#info{
    border-radius: 5px;
    background-color: brown;
    color: aliceblue;
    padding: 10px;
}